:root {
	--primary: #07AB80;
	--secondary: #5B636E;
	--tertiary: #8F8E98;
	--subtle: #DDDDDD;
}

html {
	margin: 0;
}

body {
	font-family: "Jaldi", sans-serif;
}


/* ANCHOR: COLOR CLASSES */
/*************************/
.primary1 {
	background-color: var(--primary);
}

.secondary2 {
	background-color: var(--secondary);
}

.tertiary3 {
	background-color: var(--tertiary);
}

.subtle4 {
	background-color: var(--subtle);
}


.textLight {
	color: whitesmoke;
}

.textGreen {
	color: var(--primary);
}

.textBlack {
	color: black;
}

.textGrey {
	color: var(--secondary);
}

/*************************/




/* ANCHOR: MAIN CLASSES */
/*************************/
/*SECTION: Jumbotron section*/
.jumbotron {
	background-image: url("assets/mountains.jpg");
	background-size: cover;
	background-position: top;
}

.btnHover:hover {
	background-color: white;
	border-color: var(--primary);
	color: var(--primary);
}


.container1 {
	position: relative;
}

.ovalLong {
	border-radius: 50%;
}

/* X-SMALL screen */
@media only screen and (max-width: 575px) {
	.text-block1 {
		display: none;
	}
}

/* SMALL screen */
@media only screen and (max-width: 767px) {
	.text-block1 {
		position: absolute;
		bottom: 15em;
		right: 1px;
		left: 500px;
		background-color: rgb(228, 50, 50, 0);
		color: white;
		border-color: var(--primary) !important;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* MEDIUM screen */
@media only screen and (min-width: 768px) {
	.text-block1 {
		position: absolute;
		bottom: 5em;
		right: 1px;
		left: 400px;
		background-color: rgb(228, 50, 50, 0);
		color: white;
		border-color: var(--primary) !important;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* LARGE screen */
@media only screen and (min-width: 992px) {
	.text-block1 {
		position: absolute;
		bottom: 5em;
		right: 10px;
		left: 400px;
		background-color: rgb(228, 50, 50, 0);
		color: white;
		border-color: var(--primary) !important;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* X-LARGE screen */
@media only screen and (min-width: 1200px) {
	.text-block1 {
		position: absolute;
		bottom: 5em;
		right: 10px;
		left: 500px;
		background-color: rgb(228, 50, 50, 0);
		color: white;
		border-color: var(--primary) !important;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* XX-LARGE screen */
@media only screen and (min-width: 1400px) {
	.text-block1 {
		position: absolute;
		bottom: 25em;
		right: 10px;
		left: 700px;
		background-color: rgb(228, 50, 50, 0);
		color: white;
		border-color: var(--primary) !important;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* 4K screen */
@media only screen and (min-width: 2560px) {
	.text-block1 {
		position: absolute;
		bottom: 25em;
		right: 10px;
		left: 1000px;
		background-color: rgb(228, 50, 50, 0);
		color: white;
		border-color: var(--primary) !important;
		padding-left: 20px;
		padding-right: 20px;
	}
}





/* SECTION: floating info box */
.text-block2 {
	translate: 9em 5em;
	background-color: white;
	padding: 5px;
}

/* SMALL screen */
@media only screen and (max-width: 767px) {
	.text-block2 {
		translate: 0em 0em;
		background-color: white;
		padding: 5px;
	}
}

/* MEDIUM screen */
@media only screen and (min-width: 768px) {
	.text-block2 {
		translate: 2em 5em;
		background-color: white;
		padding: 5px;
	}
}

/* LARGE screen */
@media only screen and (min-width: 992px) {
	.text-block2 {
		translate: 3em 5em;
		background-color: white;
		padding: 5px;
	}
}

/* X-LARGE screen */
@media only screen and (min-width: 1200px) {
	.text-block2 {
		translate: 5em 5em;
		background-color: white;
		padding: 5px;
	}
}

/* XX-LARGE screen */
@media only screen and (min-width: 1400px) {
	.text-block2 {
		translate: 5em 5em;
		background-color: white;
		padding: 5px;
	}
}

/* 4K screen size */
@media only screen and (min-width: 2560px) {
	.text-block2 {
		translate: 30em 5em;
		background-color: white;
		padding: 5px;
	}
}





/* SECTION: product info section */
.imgFix {
	object-fit: cover;
}

.fs-6 {
	font-size: 9em !important;
}





/* SECTION: customer review section */
.fs-7 {
	font-size: 4em !important;
}

@media only screen and (min-width: 576px) {
	.fs-7 {
		font-size: 2em !important;
	}
}

@media only screen and (min-width: 992px) {
	.fs-7 {
		font-size: 3em !important;
	}
}

/*************************/




/*ANCHOR: FOOTER CLASSES*/
/*************************/
.dot {
	border-radius: 50%;
	display: inline-block;
	line-height: 1em;
	padding: .15em;
	font-size: xx-large;
}

@media only screen and (min-width: 992px) {
	.pillChangeView {
		padding: 1px;

	}
}

/*************************/